<%- model_class = Discussion -%>

<table class = "center">
  <tr>
    <td>
      <div class="page-header">
	<h1><%=t '.title', :default => @discussion.topic %></h1>
      </div>
      
      <div class = "hero-unit">
	<%= @discussion.message %>
	
	<dl class="dl-horizontal">
	  <dt><strong><%= model_class.human_attribute_name(:user) %>:</strong></dt>
	  <dd><%= @discussion.user.name %></dd>
	</dl>
      </div>
      
      <% @discussion.posts.each do |post| %>
      <div class = "well">
	<%= post.message %>
	<dl class="dl-horizontal">
	  <dt><strong><%= model_class.human_attribute_name(:user) %>:</strong></dt>
	  <% if post.user %>
	  <dd>
	    <%= post.user.name %>
	  </dd>
	  <% end %>
	</dl>

      </div>
      <% end %>
      
      <div class="form-actions">
	<%= link_to t('.back', :default => t("helpers.links.back")),
	discussions_path, :class => 'btn'  %>
	<%= link_to "New Post", new_discussion_post_path(@discussion), :class => 'btn btn-primary' %>
      </div>
    </td>
  </tr>
</table>
